<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../stylesheets/testobjectsstyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test objects</title>
</head>
<body>

    <div style="padding: 50px;">
        <button class="button-base">
            test button
        </button>
        <button class="button-base" disabled>
            disabled button
        </button>
        <button class="button-base green-button">
            green button
        </button>
        <button class="button-base green-button" disabled>
            disabled green button
        </button>
        <button class="button-base red-button">
            red button
        </button>
        <button class="button-base red-button" disabled>
            red button disabled
        </button>
    </div>

    <div style="padding: 50px; top: 20px;">
        <div class="cards-container">
            <img class="card-display card-left" src="../images/bird-ger.png" alt="card image here">
            <img class="card-display card-right" src="../images/bird-ger.png" alt="card image here">
            
            <div class="text-display">
                <p class="name-text">
                    hello bro
                </p>
                <p class="stack-text">
                    stack here 9999
                </p>
            </div>
        </div>
    </div>

</body>
</html>